body {
font-family: 'Roboto', sans-serif;
color:#2E2F42;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/** ================HEADER==================== */
.header {}

.header-navigation {}

.header-logo {
    font-family: Raleway;
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.logo-color {
    color: #4D5AE5
}
.header-menu-list {}

.header-menu-item {}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
}
.header-menu-link:hover,
.header-menu-link:focus {
    color: #404BBF;
    text-decoration: underline;
}
.address-link {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
        /* 150% */
    letter-spacing: -0.02em;
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}
/** ========================================= */


/** ================HERO==================== */

.hero {
    background-color: #2E2F42;
}

.hero-title {
    color: #fff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: -0.02em;
}

.btn-hero {
    color:#fff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
}
.btn-hero:hover,
.btn-hero:focus {
    background-color: #404BBF;
}
/** ========================================= */



/** ================FEATURES=================== */

.features {}

.features-list {}

.features-item {}

.features-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.features-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}


/** ========================================= */


/** ==============TEAM==================== */

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    text-align: center;
}

.team-list {}

.team-item {}

.team-img {}

.team-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}


/** ========================================= */


/** ==============PORTFOLIO====================== */

.portfolio {}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    text-align: center;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-img {}

.portfolio-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.portfolio-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

/** ========================================= */

/** ==================FOOTER=================== */
.footer{
background-color: #2E2F42;
}

.footer-logo {
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-color {}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

/** ========================================= */