body {
font-family: 'Roboto', sans-serif;
color:#434455;
background-color: #fff;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

/** ================HEADER==================== */
.header {}

.header-navigation {}

.logo {
    font-family: 'Raleway', sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-color {
    color: #2e2f42
}
.header-menu-list {}

.header-menu-item {}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-menu-link:hover,
.header-menu-link:focus {
    color: #404BBF;
    text-decoration: underline;
}
.address {
    font-style: normal;
}
.address-list {

}
.address-link {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}
/** ========================================= */


/** ================HERO==================== */

.hero {
    background-color: #2E2F42;
}

.hero-title {
    color: #fff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.btn-hero {
    color:#fff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
}
.btn-hero:hover,
.btn-hero:focus {
    background-color: #404BBF;
}
/** ========================================= */



/** ================FEATURES=================== */

.features {}

.features-list {}

.features-item {}

.features-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/** ========================================= */


/** ==============TEAM==================== */

.team {
    background-color: #F4F4FD;
}

.team-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.team-list {}

.team-item {
    background-color: #fff;
}

.team-img {}

.team-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-list-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/** ========================================= */


/** ==============PORTFOLIO====================== */

.portfolio {}

.portfolio-title {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-img {}

.portfolio-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-list-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/** ========================================= */

/** ==================FOOTER=================== */
.footer{
background-color: #2E2F42;
}
.logo{
    font-family: 'Raleway', sans-serif;
    color: #4d5ae5;


}

.footer-logo-color {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/** ========================================= */